.checks {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.checksItem {
	display: flex;
	gap: 6px;
	align-items: center;
}

.check {
	background-color: #fff;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.checkActive {
	background-color: var(--bg-blue);
}

.type {
}
