@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-blue: #81bef5;
	--bg-blue: #81bef5;
	--bg-dark-gray: #efefef;
	--bg-gray: #f7f5f5;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: left;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-gray);
	padding: 16px;
	width: 1024px;
	margin: 0 auto;
	color: #333;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
